<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    <i class="fas fa-user"></i> Configuration
                </h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/" class="btn btn-light btn-block">
                    <i class="fas fa-home"></i> Go Home
                </a>
            </div>
            <div class="col-md-3">
                <button type="submit" (click)="save()" class="btn btn-success btn-block">
                    <i class="fas fa-check"></i> Save
                </button>
            </div>
        </div>
    </div>
</section>

<section id="configuration">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Update configuration</h4>
                    </div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <legend>Allow users register</legend>
                            <div class="form-check">
                                <label for="" class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="allowRegister" id="allowRegister" [(ngModel)]="allowRegister" [checked]="allowRegister">
                                    {{allowRegister ? "Yes" : "No"}}
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>