<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" (click)="open(content)" class="btn btn-primary btn-block">
                    <i class="fas fa-plus"></i> Add Client
                </a>
            </div>
        </div>
    </div>
</section>
<!-- clients list -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>List of clients</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{client.name}} {{client.last_name}}</td>
                                <td>{{client.saldo | currency: 'COP': '$'}}</td>
                                <td>
                                    <a routerLink="/client/update/{{client.id}}" class="btn btn-secondary">
                                        <i class="fas fa-pencil"></i> Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- cards -->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>General balance</h3>
                        <h4 class="display-4">{{getTotal() | currency: 'COP': '$'}}</h4>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Clients</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i> {{clients?.length}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal -->
<ng-template #content let-modal class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add new Client</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="balance">Balance</label>
                    <input type="number" name="balance" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</ng-template>