<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" (click)="openModal(content)" class="btn btn-primary btn-block">
                    <i class="fas fa-plus"></i> Add Client
                </a>
            </div>
        </div>
    </div>
</section>
<!-- clients list -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>List of clients</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{client.name}} {{client.last_name}}</td>
                                <td>{{client.saldo | currency: 'COP': '$'}}</td>
                                <td>
                                    <a routerLink="/client/update/{{client.id}}" class="btn btn-secondary">
                                        <i class="fas fa-pencil"></i> Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- cards -->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>General balance</h3>
                        <h4 class="display-4">{{getTotal() | currency: 'COP': '$'}}</h4>
                    </div>
                </div>

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Clients</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i> {{clients?.length}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal -->
<ng-template #content let-modal class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add new Client</h4>
            <button type="button" class="btn-close" aria-label="Close" #btnClose (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form #clientForm="ngForm" (ngSubmit)="addClient(clientForm)" novalidate>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="client.name"
                        [ngClass]="{'is-invalid': name.errors && name.touched}" required minlength="2" />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            Name must be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" class="form-control" #lastname="ngModel"
                        [(ngModel)]="client.last_name" [ngClass]="{'is-invalid': lastname.errors && lastname.touched}"
                        required minlength="2" />
                    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert">
                        <div *ngIf="lastname.errors?.['required']">
                            Lastname is required.
                        </div>
                        <div *ngIf="lastname.errors?.['minlength']">
                            Lastname must be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="client.email"
                        [ngClass]="{'is-invalid': email.errors && email.touched}" required email="true" />
                    <div *ngIf="email.invalid && (name.dirty || email.touched)" class="alert">
                        <div *ngIf="email.errors?.['required']">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Email address is not valid.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="balance">Balance</label>
                    <input type="number" name="balance" class="form-control" #balance="ngModel"
                        [(ngModel)]="client.saldo" [ngClass]="{'is-invalid': balance.errors && balance.touched}"
                        required />
                    <div *ngIf="balance.invalid && (balance.dirty || balance.touched)" class="alert">
                        <div *ngIf="balance.errors?.['required']">
                            Balance is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</ng-template>